body{
	background-image: url("img1.jpg");
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
    background-color: #660066;
    color: white;
	font-family: Fredoka One, cursive;
}
mark{
    background-color: #b3ff66;
	color: black;
}
#info{
	font-family: Fredericka the Great, cursive;
	width: 750px;
	float: left;
}
#picture{
	width: 350px;
	height: 350px;
	float: right;
	background-color: #cccccc;
}	
.image{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#next{
	font-family: Caveat Brush, cursive;
}