body{
	color: white;
	font-family: Delius Swash Caps, cursive;
	background-image: url("img9.jpg");
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat
}
.next{
	color: cyan;
	font-family: Caveat Brush, cursive;
}
